body {
	background-color: #ffffff;
	border: 5px white;
	font-family: "Courier New";
}
button {
	font-family: "Courier New";
	font-weight: 700;
}



.topBar {
	margin-top: -13px;
	height: 60px;
	background: #702020;
	margin-left: -100px;
}


.bottomInfo {
	background: #000000;
	color: #f0f0f0;
	font-size: 11px;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	height: 26px;
	position: fixed;
}
.header {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	text-decoration: underline;
}


#homeButton {
	left: 25%;
	transform: translate(-25%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
@media only screen and (min-width: 769px){
	[id*="homeButton"]{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
	[id*="homeButton"]{
		font-size: 14px;
	}
}


#contactButton {
	left: 50%;
	transform: translate(-50%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
@media only screen and (min-width: 769px){
	[id*="contactButton"]{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
	[id*="contactButton"]{
		font-size: 14px;
	}
}


#aboutButton {
	left: 75%;
	transform: translate(-75%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
@media only screen and (min-width: 769px){
	[id*="aboutButton"]{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
	[id*="aboutButton"]{
		font-size: 14px;
	}
}

#galleryButton {
	left: 100%;
	transform: translate(-100%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
@media only screen and (min-width: 769px){
	[id*="galleryButton"]{
		font-size: 20px;
	}
}
@media only screen and (max-width: 768px){
	[id*="galleryButton"]{
		font-size: 14px;
	}
}


#bottomInfoId {
	position: relative;
	bottom: 6px;
}






@media only screen and (min-width: 769px){
	[class*="headerUnder"]{
		font-size: 25px;
	}
}
@media only screen and (max-width: 768px){
	[class*="headerUnder"]{
		font-size: 16px;
	}
}
.headerUnder {
	text-shadow: 2px 0px #3030a0;
	font-weight: 1000;
	letter-spacing: 3px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 20px;
	text-decoration: none;
	position: relative;
}

@media only screen and (min-width: 769px){
	[class*="sign"]{
		font-size: 40px;
	}
}
@media only screen and (max-width: 768px){
	[class*="sign"]{
		font-size: 30px;
	}
}
.sign {
	text-align: center;
	vertical-align: text-top;
	color: #d85048;
	letter-spacing: 4px;
	text-shadow: 3px 0px #3030a0;
	font-weight: 1000;
	margin-top: 20px;
	margin-left: 6%;
	margin-right: 6%;
	border-style: groove;
	border: 5px solid;
	border-radius: 10px;
	border-color: #c0c0bf;
	background: #f0f0df;
}

@media only screen and (min-width: 769px){
	[class*="headerGeneral"]{
		font-size: 40px;
	}
}
@media only screen and (max-width: 768px){
	[class*="headerGeneral"]{
		font-size: 30px;
	}
}
.headerGeneral {
	text-align: center;
	vertical-align: text-top;
	color: #d85048;
	letter-spacing: 4px;
	text-shadow: 3px 0px #3030a0;
	font-weight: 1000;
	margin-top: 20px;
	margin-left: 9%;
	margin-right: 9%;
	border-style: groove;
	border-radius: 10px;
	border: 5px solid black;
	text-decoration: underline;
	background: #f0f0df;
	border-color: #c0c0bf;
}

.marioInfo {
	position: absolute;
	left: 10%;
	margin-top: 100px;
	left: 50%;
	transform: translate(-50%,0%);
}


@media only screen and (min-width: 769px){
	[class*="mIHeader"]{
		font-size: 40px;
	}
}
@media only screen and (max-width: 768px){
	[class*="mIHeader"]{
		font-size: 30px;
	}
}
@media only screen and (min-width: 769px){
	[class*="marioInfo"]{
		font-size: 30px;
	}
}
@media only screen and (max-width: 768px){
	[class*="marioInfo"]{
		font-size: 25px;
	}
}
.mIHeader {
	position: relative;
	text-decoration: underline;
}


.mI {
	position: relative;
	left: 30px;
}


.wendellInfo {
	position: absolute;
	left: 10%;
	margin-top: 385px;
	left: 50%;
	transform: translate(-50%,0%);
}

@media only screen and (min-width: 769px){
	[class*="wIHeader"]{
		font-size: 40px;
	}
}
@media only screen and (max-width: 768px){
	[class*="wIHeader"]{
		font-size: 30px;
	}
}
@media only screen and (min-width: 769px){
	[class*="wendellInfo"]{
		font-size: 30px;
	}
}
@media only screen and (max-width: 768px){
	[class*="wendellInfo"]{
		font-size: 25px;
	}
}
.wIHeader {
	position: relative;
	text-decoration: underline;
}


.wI {
	position: relative;
	left: 30px;
}
