body {
	background-color: #ffffff;
	border: 5px white;
	font-family: "Courier New";
}
button {
	font-family: "Courier New";
	font-weight: 700;
}

.header {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	text-decoration: underline;
}
.headerUnder {
	text-shadow: 2px 0px #3030a0;
	font-size: 25px;
	font-weight: 1000;
	letter-spacing: 3px;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 20px;
	text-decoration: none;
	position: relative;
}
.topBar {
	margin-top: -13px;
	height: 60px;
	background: #702020;
}
.sign {
	text-align: center;
	vertical-align: text-top;
	color: #d85048;
	letter-spacing: 4px;
	text-shadow: 3px 0px #3030a0;
	font-size: 40px;
	font-weight: 1000;
	margin-top: 20px;
	margin-left: 6%;
	margin-right: 6%;
	border-style: groove;
	border: 10px solid;
	border-radius: 10px;
	border-color: #c0c0bf;
	background: #f0f0df;
}
.headerGeneral {
	text-align: center;
	vertical-align: text-top;
	color: #d85048;
	letter-spacing: 4px;
	text-shadow: 3px 0px #3030a0;
	font-size: 40px;
	font-weight: 1000;
	margin-top: 20px;
	margin-left: 9%;
	margin-right: 9%;
	border-style: groove;
	border-radius: 10px;
	border: 5px solid black;
	text-decoration: underline;
	background: #f0f0df;
	border-color: #c0c0bf;
}
.bottomInfo {
	background: #000000;
	color: #f0f0f0;
	font-size: 11px;
	text-align: center;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 26px;
	position: absolute;
}

#homeButton {
	font-size: 24px;
	left: 25%;
	transform: translate(-25%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
#contactButton {
	font-size: 24px;
	left: 50%;
	transform: translate(-50%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
#aboutButton {
	font-size: 24px;
	left: 75%;
	transform: translate(-75%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
#galleryButton {
	font-size: 24px;
	left: 100%;
	transform: translate(-100%,0%);
	position: absolute;
	width: 20%;
	height: 55px;
	margin-top: -55px;
	background: #702020;
	border-color: #702020;
	color: #f0f0f0;
	text-shadow: 2px 0px black;
	border-left: 2px solid black;
	border-right: 0;
	border-bottom: 0;
}
#bottomInfoId {
	position: relative;
	bottom: 6px;
}
